.App {
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

select {
  padding: 5px;
  border-radius: 5px;
}


.task-container {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.task-container h3 {
  margin-top: 0;
}

.task-container p {
  margin: 5px 0;
}

.task-created {
  color: #666;
}

.task-overdue {
  color: #ff0000;
}

.task-complete {
  color: #008000;
}

.task-edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.task-edit-button:hover {
  background-color: #0056b3;
}


.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0056b3;
}
