.light{
  color:black;
  background-color: aliceblue;
}

.dark{
  color:white;
  background-color: rgb(30, 26, 26);
  
}

button{
  border-radius: 10px;
  width: fit-content;
  height: 50px;
}
button.dark{
  border: 1px solid white;
  background-color:white;
  color:  black;
}

button.light{
  border: 1px solid black;
  background-color:black;
  color:  white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table.dark,th.dark,td.dark{
  background-color: antiquewhite;
  color: black;
}